.title{ 
  text-align: center;
}

.directions{text-align: center;}

.flash{
  color: green;
  text-align: center;
}
.guess{
  margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 25px;
}
.begin{
  padding-top: 24px;
}

.form{
  padding-left: 35px;
  padding-right: 35px;

}
.scoreboard{
  padding-left: 35px;
  padding-top: 25px;
}