<html ng-app="guessGame">
<head>
  <title>NumGuessGameAngular</title>
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
   <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header class="container jumbotron">
    <h1 class="title">Welcome to the Number Guessing Game</h1>
    <p class="directions">
      Directions: Enter your name.  Then set your range and click start.  Gameplay hints will appear on the screen after each guess.  Enter a number until you guess the random number.  
    </p>
  </header>
  <div class="container" ng-controller="GameCtrl">
    <div class="row" ng-hide="isRegistered">
      <div class="col-md-6">
        <h2>Setup:</h2>
        <form class="form" ng-submit="register(p)">
          <div class="form-group">
            <label>Your name</label>
            <input class="form-control" type ="text" ng-model="p.name" required>
          </div>
          <div class="form-group">
            <label>Difficulty</label>
            <select class="form-control" ng-model="p.difficulty" required>
              <option>Easy</option>
              <option>Medium</option>
              <option>Hard</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row" ng-show="isRegistered">
      <div class="col-md-6">
        <h2>Hello {{player.name}}</h2>
        <div class="jumbotron" ng-show="lastAttempt">
          <div class="pull-right">
            <span class="badge badge-primary">Attempts {{attempts.length}}</span>
          </div>
          <h1>Your guess {{lastAttempt.guess}} is {{lastAttempt.response}}</h1>  
        </div>      
      </div>
      <div class="col-md-6">
        <div ng-hide="gameOver">
        <h3>Try to Guess my Number:</h3>
        <form ng-submit="guess(n)">
          <div class="form-group">
            <input type="text" placeholder="Enter Number" ng-model="n">
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
        </div>
        <button class="btn btn-primary" ng-show="gameOver" ng-click="newGame()">Play Again</button>
       </div>
    </div>
  </div> 
  <script src="bower_components/angular/angular.js"></script> 
  <script type="text/javascript" src="app2.js"></script>
</body>
</html>