<html ng-app="guessGame">
<head>
  <title>NumGuessGameAngular</title>
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
  <div ng-controller= "GameController as game">
    <h1>
      Welcome to the Number Guessing Game
    </h1>
    <p>
      Directions: Enter your name.  Then set your range and click start.  Gameplay hints will show up on the page below the section Gameplay.  Enter a number until you guess the random number.  Your score should show up with your name undneath the scores section.
    </p>
    <p>
      <label>
        Add Player Name
      </label>
      <input class="form-control focusedInput" type ="text" ng-model="playerName"><button type="button" class="btn btn-primary" ng-click= "addPlayer">Add</button>
      <label>Player Name: {{playerName}}</label>
    </p>
    <p>
      <label for="selectRange">Select Range</label>
      <select class="form-control focused input" ng-model="upper">
        <option value=10>0 to 10</option>
        <option value=50>0 to 50</option>
        <option value=100>0 to 100</option>
      </select>
      <button type="button" class= "btn btn-primary" ng-click="game.updateUpper(upper)">Set Range</button>
      <label>Range: 0 to {{upper}}</label>
    </p>
    <div ng-show="game.state == 1">
      <p>Click Start to Begin!</p>
       <button type="button" class="btn btn-lg btn-success btn-block" ng-click="game.setState(2)">Start</button> 
    </div>
    <div ng-show="game.state == 2"></div>
       <input class="form-control focusedInput" type="text" ng-model="game.playerGuess" on-click="this.select()" numerical /><br />
       <button type="button" class="btn btn-lg btn-warning btn-block" ng-click="game.guess()">Guess</button>
    <div ng-show="game.state >= 3">
      <h1>{{ game.flash }}</h1>
    </div>  
  </div>
<script src="bower_components/angular/angular.js"></script> 
<script type="text/javascript" src="app.js"></script>
</body>
</html>